
.on{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #98498db1, #673a7aca, #9c4298b6);
    font-weight: 800;
    font-size: 1.2rem;
}

