.logoutButton {
    padding: 1rem;
    border: none;
    width:100%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #f6f6f6;
}


.logoutButton.loading {
    background: linear-gradient(to right, #8d4a92 50%, transparent 50%); /* Cambia el gradiente al 50% para simular la carga */
    background-size: 200% 100%; /* Ajusta el tamaño del gradiente */
    animation: loadingAnimation 1s infinite; /* Inicia la animación de carga */
}

@keyframes loadingAnimation {
    0% {
        background-position: 100% 0; /* Inicia desde la derecha */
    }
    100% {
        background-position: -100% 0; /* Termina a la izquierda */
    }
}
