.inicio{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.615);
    border-radius: 10px;
}


.text{
    margin: auto;
    width: 50vw;
    margin-bottom: 5rem;
}


.productsSection{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x:scroll;
    gap: 2rem;
}



.prod img{
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    max-height: 36vh;
    min-height: 36vh;
    max-width: 20vw;
}


.button{
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

.button:hover{
    background-color: #f6f6f68d;
    box-shadow: 0 5px 10px rgba(228, 100, 235, 0.83);
}