/*navbar*/
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, #a56bdb, #8d61c4);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;
}

.navBar button {
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 8px;
    background: linear-gradient(to right, #f7d3efa5, #eea6ee98);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
}

.navBar button:hover {
    background-color: rgba(214, 137, 216, 0.778);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);

}

/*BUTTONS*/
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.buttons button {
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 8px;
    background: linear-gradient(to right, #f1b9e6a5, #f6b8f698);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;

}

.buttons button:hover {
    background-color: rgba(214, 128, 216, 0.778);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);

}

