.ticket {
    width: 40vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 0.8rem;
    border-radius: 10px;
    background: linear-gradient(to right, #90399884, #a53ca49b, #e722d791);
    box-shadow: 0 15px 22px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
}

.ticket:hover {
    background-color: rgba(237, 12, 245, 0.778);
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.674);
}

.ticket h1, h2{
    background-color: rgba(255, 255, 255, 0.144);
    padding: 0.5rem;
    border-radius: 10px;
}