
.on{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #a1c2ddb1, #6d6092ab, #f175e9b6);
    font-weight: 800;
}

