.profileData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 30px 5px rgb(195, 104, 211);
    max-width: 50vw;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.profileData img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.7s ease;
    object-fit: cover;
    margin: 1rem;
    border-radius: 15px;
    max-width: 25vw;
    max-height: 30vh;
    width: auto;
    height: auto;
}

.profileData:hover {
    box-shadow: 0px 0px 50px 5px rgb(210, 20, 244);
}


.div_buttons{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
.div_buttons button{
    padding: 0.4rem;
    background: linear-gradient(to right, #dfc6dd, #ebbedbfa);
    border: none;
    border-radius: 10px;
}

.div_buttons button:hover {
    box-shadow: 2px 2px 10px #e349d7;
}