.bottons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem;
    gap: 0.8rem;
}

.addCartContainer{
    font-size: 1rem;
}

.addCartContainer button{
    border: black 1px solid;
    padding: 0.6rem;
    border-radius: 0.6rem;
    background: linear-gradient(to right, #fa7fe1a5, #b45db498);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
    width: 100%;
}



.addCartContainer button:hover{
    background-color: rgba(237, 12, 245, 0.778);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);
}