/*producto*/
.products {
    margin:1rem; 
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.productImg img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.7s ease;
    object-fit: cover;
    margin: 1rem;
    border-radius: 15px;
    width: 70%;
}

.productImg img:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.674);
}




/*form*/

.createProd{
    margin: auto;
    font-size: 0.8rem;
    font-weight: 800;
    border: 1.5px black solid;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #b46cd8a2;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px black solid;
    background: linear-gradient(to right, #67417a, #b157aa, #a85dc9d8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
    padding: 1rem;
    margin: auto;
    text-align: center;
    gap: 0.6rem;
    border-radius: 10px;
    width: 20vw;
    min-height: 90vh;
}

.form:hover {
    background-color: rgba(240, 233, 233, 0.179);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputTitle, .inputDescription, .inputPrice, .inputCategory, .inputCode, .inputStock{
    width: 70%;
    margin: auto;
}

.buttonCreate{
    width: 30%;
    margin: auto;
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonCreate:hover{
    background-color: #6d69d9;
}

.prodsContainer{
    border: 1.5px black solid;
    background-color: #98a3bf;
}


