.login {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 800;
    border: 1.5px black solid;
    padding: 10px;
    border-radius: 5px;
    width: 30vw;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #b46cd8a2;
}

#idFormRegister {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px black solid;
    padding: 1rem;
    margin: auto;
    text-align: center;
    gap: 0.6rem;
    border-radius: 10px;
    background: linear-gradient(to right, #bb4ca5a5, #a94da998, #cb2ccb98);
    width: 50vw;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
}

#idForm:hover{
    background-color: rgba(211, 118, 214, 0.778);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);
}

#email,
#first_name,
#password,
#last_name {
    width: 40vw;
    margin: auto;
}

#buttonLogin, #buttonRegister, #buttonGitHub {
    width: 20vw;
    margin: auto;
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.674);
    transition: box-shadow 0.7s ease;
}

#buttonLogin:hover, #buttonRegister:hover, #buttonGitHub:hover {
    background-color: rgba(211, 118, 214, 0.778);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.674);
}



#userContainer {
    border: 1.5px black solid;
    background-color: #98a3bf;
}
